 #map {
     height: 88%;
 }

 html, body {
     height: 98%;
     margin: 0;
     padding: 0;
 }

 #navBar {
     background-color: darkslateblue;
     color: #ffffff;
     height: 100px;
     width: 50%;
     margin: auto;
    padding-left:20%;
     font-family:Helvetica, sans-serif;

     
 }

 ul {
     list-style-type: none;
     margin-left: -4px;
     padding: 0;
 }

 .navItem {
     display: inline;
     margin: 10px;
     text-decoration: none;
     color: #ffffff;
     font-size: 20px;
 }

 .navItem:hover {
     background-color: #ffffff;
     color: darkslateblue;
     text-decoration: none;
 }

 body {
     background-color: darkslateblue;
 }

 #title {
     display:block;
 }

 #submitCapital{
    display:none;
    background-color:darkslateblue;
    border-radius: 25px;
    color:#ffffff;
    padding: 20px; 
    margin:15px;
    position: absolute;
    bottom:15%;
    right:7%;
    z-index:99;
    font-size:22px;
 }

 #startButton{
    background-color:darkslateblue;
    border-radius: 25px;
    color:#ffffff;
    padding: 20px; 
    margin:15px;
    position: absolute;
    bottom:15%;
    right:7%;
    z-index:99;
    font-size:22px;
 }

 #targetCapitalDiv{
    display:none;
    background-color:darkslateblue;
    border-radius: 25px;
    color:#ffffff;
    padding: 20px; 
    margin:15px;
    position: absolute;
    top:18%;
    left:4%;
    z-index:99;
 }
 #capitalName{
    display:inline;
    width:50%;
    margin:auto;
 }
 #countryName{
    display:inline;
 }
 #finalScoreDiv{
    display:none;
    background-color:darkslateblue;
    border-radius: 25px;
    color:#ffffff;
    padding: 20px; 
    margin:15px;
    position: absolute;
    bottom:20%;
    right:60%;
    z-index:99;
    font-size:20px;
 }
 #finalScoreContent{
     display:inline;
 }
 #signIn{
     position:absolute;
     top:0;
     right:0;
     margin:20px;
     padding:10px;
 }

 #signOut{
    display:none;
    position:absolute;
    top:0;
    right:0;
}